.section-all-movies {
    width: 100%;
    background-color: #161616;

}

.section-container-movies {
    width: 70%;
    margin: auto;
}

.container-title-form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px 20px 10px;
}

.title-sec-movies {
    font-size: 25px;
    color: #fff;
}

.title-sec-series {
    font-size: 25px;
    padding: 10px 10px 20px 10px;
    color: #fff;
    text-align: start;
}


.link-all-movies {
    width: 100%;
    font-size: 18px;
    color: #2c65ea;
    text-decoration: none;
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    padding: 10px;
}

.link-all-movies:hover {
    transition: .5s;
    text-decoration: underline;
    color: #5284f9;

}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sec-all-movies {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px; 
    padding: 10px;
}

.card-movie {
    width: 180px;
    border-radius: 10px;
    cursor: pointer;
    transition: transform .5s;
    position: relative;
    overflow: hidden;
}

.img-card-movie {
    border-radius: 10px;
    transition: transform .5s;
}

.card-movie:hover .img-card-movie  {
    transform: scale(1.1);
    transition: transform .5s;
}


@media (max-width: 768px)  {
    .section-container-movies {
        width: 100%;
    }

}
