.section-landing {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.card-movie-landing {
  position: relative;
  width: 100%;
  height: 100%;
}

.img-fondo {
  object-fit: cover;
}

.sec-details {
  width: 100%;
  display: grid;
  gap: 8px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000000b7;
  color: #fff;
  padding: 12px;
}


.title-landing {
  font-size: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  color: #fff;
  text-decoration: none;
}
.title-landing:hover {
  text-decoration: underline;
}
.sec-description {
  color: #9e9e9e;
  line-height: 1.5;
  font-size: 18px;
}

.container-slider {
  width: 100%;
  overflow: hidden;
}

@media (max-width: 768px) {

}