.section-movies {
    width: 100%;
    background-color: #161616;
    color: #fff;
}

.title-page-movies {
    text-align: center;
    padding: 100px 10px 40px 10px;
    font-size: 25px;
}

.sec-movies {
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
    margin: auto;
}