.section-search-movies {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 14px;
    padding: 100px 20px 20px 20px;
    background-color: #161616;
    color: #fff;
    overflow-y: auto;

}

@media (max-width: 768px) {
    .section-search-movies {
        gap: 10px;
        padding: 60px 10px 10px 10px;
    }
}